<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <title>Personal Web</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="/public/css/project.css">

</head>

<body>

    <!-- navbar with boostrap awal-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="#">ANDI<b class="text-bos">bos</b></a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index">Ho<b
                                class="text-secondary">me</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addproject-data">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="testimonial">My Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="d-flex collapse justify-content-center">
                    <a href="contact" class="btn btn-secondary ">Contact Me</a>
                </div>


            </div>
        </div>
    </nav>
    <!-- navbar with boostrap akhir-->


    <!-- container with bootstrap awal-->
    <section class="profile container-fluid" id="profile">
        <div class="container">
            <div class="container d-flex justify-content-center fw-bold mt-3">
                {{if .FlashMessage}} {{if .FlashStatus}}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    <strong>{{.FlashMessage}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{else}}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    <strong>{{.FlashMessage}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{end}} {{end}}
                </div>
        
            <div class="row justify-content-between bg-home">
                <div class="col-md-6 p-5 mt-5 text-black ">
                    <h3 class="fw-bold mb-5 text-white"><b>Hi Welcome to my profile</b></h3>
                    <p class="lh-lg text-white"><b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
                            harum ad neque sequi
                            laboriosam repellat illum? Cumque, consequuntur eligendi animi doloribus error aliquam
                            quisquam,
                            debitis minus excepturi, eum illo sint?</b>

                    </p>
                    <a href="contact.html" class="btn btn-primary mx-2">Contact</a><b class="text-white mx-5">download
                        cv</b>
                    <a href="#" class="mx-0"><i class="fa-solid fa-arrow-down"></i></a>
                    <div class="icon mt-5 fs-4 mx-2">
                        <a href="https://www.linkedin.com/in/mohammad-fatkhuroji/"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/oji.id/?hl=id"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/ojilorotelu"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/eh_oji"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-5 p-5">
                    <div class="card mx-2 p-2">
                        <img src="public/assets/images/home.jpg" class="card-img-top rounded" alt="..." />
                        <div class="card-body text-center">
                            <h3>GUSWANDI</h3>
                            <p>Full Stack DevOp</p>

                        </div>
                    </div>
                </div>

    </section>
    <div class="card mt-5 d-flex list-project warna-project">
    </div>

    <!-- <script src="publis/js/index.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- <script src="public/js/project.js"></script> -->
</body>

</html>