<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <title>Personal Web</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/project.css">

</head>

<body>

    <!-- navbar with boostrap awal-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="#">ANDI<b class="text-bos">bos</b></a>
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index">Ho<b
                                class="text-secondary">me</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="addproject-data">My Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="testimonial">My Testimonial</a>
                    </li>
                    <li class="nav-item">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="d-flex collapse justify-content-center">
                    <a href="contact" class="btn btn-secondary ">Contact Me</a>
                </div>


            </div>
        </div>
    </nav>
    <!-- navbar with boostrap akhir-->


    <!-- container with bootstrap awal-->
    <section class="profile container-fluid" id="profile">
        <div class="container">
            <div class="row justify-content-between bg-home">
                <div class="col-md-6 p-5 mt-5 text-black ">
                    <h3 class="fw-bold mb-5 text-white"><b>Hi Welcome to my profile</b></h3>
                    <p class="lh-lg text-white"><b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus
                            harum ad neque sequi
                            laboriosam repellat illum? Cumque, consequuntur eligendi animi doloribus error aliquam
                            quisquam,
                            debitis minus excepturi, eum illo sint?</b>

                    </p>
                    <a href="contact.html" class="btn btn-primary mx-2">Contact</a><b class="text-white mx-5">download
                        cv</b>
                    <a href="#" class="mx-0"><i class="fa-solid fa-arrow-down"></i></a>
                    <div class="icon mt-5 fs-4 mx-2">
                        <a href="https://www.linkedin.com/in/mohammad-fatkhuroji/"><i
                                class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/oji.id/?hl=id"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/ojilorotelu"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://twitter.com/eh_oji"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-5 p-5">
                    <div class="card mx-2 p-2">
                        <img src="public/assets/images/home.jpg" class="card-img-top rounded" alt="..." />
                        <div class="card-body text-center">
                            <h3>GUSWANDI</h3>
                            <p>Full Stack DevOp</p>

                        </div>
                    </div>
                </div>

    </section>
    <!-- container with bootstrap awal-->

    <!-- list-project -->
    <div class="card mt-5 d-flex list-project warna-project">
        <h1
            style="display: flex;justify-content: center ;margin-top: 20px;color: black;font-weight: bold; background-color: white;">
            MY PROJECT
        </h1>
        
        <section id="project" class="d-flex mt-5 row ">
            {{ range $index, $data := .Blogs }}
            
            <div id="mockup" class="project-list1 col ">
                <div class="project-list2" id="project-list2" style="background-color: transparent;">
                    <div class="project-items1" id="project-items1">
                        <div class="project-items-container">
                            <div class="project-items-image">
                                <img src="public/assets/images/card1.jpg" alt="project-list1" />
                                <a href="project-detail/{{$data.Id}}" target="_blank">
                                    <button class="mt-5">Detail Project</button>
                                </a>


                            </div>
                            <div class="project-items-judul">
                                <h4>{{$data.Name}}</h4>
                                <h6 class="project-items-post">{{$data.StarDate }} ⏰ {{$data.EndDate }}</h6>
                                <h5 class="project-items-duration" id="project-items-duration">{{$data.Duration }}</h5>
                            </div>
                            <div class="project-list-paraf mt-5">
                                <p>{{$data.Detail }}</p>
                            </div>
                            <div class="project-list-icon d-flex mb-5" id="project-list-icon">
                                {{if $data.Playstore}}
                                <i class="fa-brands fa-node-js"></i>
                                {{end}}
                                {{if $data.Android}}
                                <i class="fa-brands fa-android"></i>
                                {{end}}
                                {{if $data.Java}}
                                <i class="fa-brands fa-java"></i>
                                {{end}}
                                {{if $data.React}}
                                <i class="fa-brands fa-react"></i>
                                {{end}}
                            </div>

                            <div class="button-project mx-5 " id="button-project">
                                <form
                                class="d-inline1"
                                action="/edit-project/{{$data.Id}}"
                                method="GET"
                                style="width: 100%; margin: 10px;"
                              >
                                <button class="btn btn-dark" style="width: 100%">edit</button>
                              </form>
                                
                                <form
                                class="d-inline"
                                action="/delete-addproject/{{$data.Id}}"
                                method="POST"
                                style="width: 100%; margin: 10px;"
                              >
                                <button class="btn-delete-project btn btn-dark" style="width: 100%">delete</button>
                              </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}   

        </section>
    </div>

    <!-- <script src="publis/js/index.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <!-- <script src="public/js/project.js"></script> -->
</body>

</html>