.project-detail-container-items-icon .duration{
    width: 50%;
}
.fa-solid .fa-calendar-days{
    width: 100%;
}
.img-fluid{
    width: 100%;
}
.paraf-detail-project p{
    text-align: justify;
}

  